body {
  background-color: #f8f9fa;
}

.discos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 20px;
}
.disco {
  text-align: center;
  width: 150px;
}
.disco-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}